#landing-page {
	display: flex;

	.actions {
		display: flex;
		width: 100%;

		& > div {
			flex: 1;
		}
	}

	.lander {
		background-image: url("../../../public/images/replace-landing-image.webp");
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0px auto;
		width: 40%;
		padding-bottom: 104%;
		position: relative;
		flex: 0.4;
	}

	.lander-content {
		flex: 0.6;
		padding-left: 60px;
		// position: absolute;
		// top: 0px;
		// left: 0px;
		// width: 100%;
		// height: 100%;
		// text-align: center;
		// color: white;

		h2 {
			// color: white;
			// background-color: rgba(0, 0, 0, 0.2);
			display: inline-block;
			margin-top: 0px;
			padding: 12px;
			border-radius: 5px;
		}

		h3 {
			// color: white;
			// background-color: rgba(0, 0, 0, 0.2);
			display: inline-block;
			padding: 12px;
			border-radius: 5px;
		}

		.btn {
			border: none;
		}

		.actions {
			& > div {
				& > div {
					// background-color: rgba(0, 0, 0, 0.2);
					display: inline-block;
					width: 250px;
					padding: 12px;
					border-radius: 5px;
				}
			}
		}
	}
}
